### FINAL PROJECT - ML Tree and Support Vector Machine Linear Classifier.......

In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import matplotlib.pyplot as pltt
from sklearn import tree
import os

In [2]:
df=pd.read_csv("./Data/datas2.csv", encoding ="utf8", engine="python")

In [3]:
df.rename(columns={'iid':'Wave_ID',
                   'id': 'Subject_Number',
                   'gender': 'Gender',
                  'attr_o':'Rating_Partner',
                  'sinc_o': "Sincere", 
                    'intel_o': "Intelligence", 
                   'fun_o':"Fun_Loving", 
                   'amb_o': "Ambitious",
                   'shar_o': "Sharing",
                   'like_o': "Likeability", 
                   'age': "Age", 
                   'race': "Race"}, inplace=True)

In [4]:
df.tail()

,Gender,Rating_Partner,Sincere,Intelligence,Fun_Loving,Ambitious,Sharing,Likeability,Age,Race
6931,1,10.0,5.0,3.0,2.0,6.0,5.0,6.0,25,2
6932,1,6.0,3.0,7.0,3.0,7.0,2.0,2.0,25,2
6933,1,2.0,1.0,2.0,2.0,2.0,1.0,2.0,25,2
6934,1,5.0,7.0,5.0,5.0,3.0,6.0,6.0,25,2
6935,1,8.0,8.0,7.0,7.0,7.0,7.0,8.0,25,2

In [21]:
df.describe()

,Gender,Rating_Partner,Sincere,Intelligence,Fun_Loving,Ambitious,Sharing,Likeability,Age,Race
count,6936.000000,6936.000000,6936.000000,6936.000000,6936.000000,6936.000000,6936.000000,6936.000000,6936.000000,6936.000000
mean,0.492359,6.183103,7.163783,7.361736,6.392734,6.758506,5.457612,6.122982,26.315311,2.769608
std,0.499978,1.949154,1.744946,1.560572,1.959069,1.798361,2.147668,1.850275,3.564817,1.241777
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,18.000000,1.000000
25%,0.000000,5.000000,6.000000,6.000000,5.000000,6.000000,4.000000,5.000000,24.000000,2.000000
50%,0.000000,6.000000,7.000000,7.000000,7.000000,7.000000,6.000000,6.000000,26.000000,2.000000
75%,1.000000,8.000000,8.000000,8.000000,8.000000,8.000000,7.000000,7.000000,28.000000,4.000000
max,1.000000,10.000000,10.000000,10.000000,11.000000,10.000000,10.000000,10.000000,55.000000,6.000000

In [20]:
df=df.astype('int32')
df.tail()

,Gender,Rating_Partner,Sincere,Intelligence,Fun_Loving,Ambitious,Sharing,Likeability,Age,Race
6931,1,10,5,3,2,6,5,6,25,2
6932,1,6,3,7,3,7,2,2,25,2
6933,1,2,1,2,2,2,1,2,25,2
6934,1,5,7,5,5,3,6,6,25,2
6935,1,8,8,7,7,7,7,8,25,2

In [6]:
#df.dropna(axis=0)

In [7]:
#df.describe()

In [8]:
#df1=df.groupby('Age')[['Place_Of_Origin']].count()

In [9]:
#ax = df1.plot.bar(rot=0)

In [10]:
#df.groupby('Age')[['Gender']].count()

In [11]:
df.isnull().any(axis=0)

Gender            False
Rating_Partner    False
Sincere           False
Intelligence      False
Fun_Loving        False
Ambitious         False
Sharing           False
Likeability       False
Age               False
Race              False
dtype: bool

In [12]:
#target = df["Rating_Partner"]
#target_names =['class 0', 'class 1', 'class 2','class 3', 'class 4','class 5','class 6','class 7','class 8','class 9']

In [13]:
data = df.drop("Rating_Partner", axis=1)
feature_names=data.columns
#data.head()

In [14]:
target = df["Rating_Partner"]
target_names =['Gender', 'Rating_Part', 'Sincere','Intelligence', 'Fun_Loving','Ambitious','Sharing','Likeability','Age','Race']

In [15]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data,target,random_state=42)

In [16]:
#int(y_train)
y_train=y_train.astype('int32')

### Tree

In [17]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.26585928489042676

In [22]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test,y_test)

0.32525951557093424

In [23]:
sorted(zip(rf.feature_importance_, feature_names), reverse=True)

AttributeError: 'RandomForestClassifier' object has no attribute 'feature_importance_'

### SVM

In [ ]:
#int(y_train)
#y_train=y_train.astype('int32')

In [ ]:
# Support Vector Machine Linear Classifier
from sklearn.svm import SVC
model = SVC(kernel='linear')
model.fit(X_train, y_train)

In [ ]:
SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
   decision_function_shape='ovr',degree=3,gamma='auto',kernel='linear',
   max_iter=-1, probability=False, random_state=None, shrinking=True,
   tol=0.001, verbose=False)

In [ ]:
#model accuracy
print('Test Acc: %.3f' %model.score(X_test,y_test))

In [ ]:
#Classification Report
from sklearn.metrics import classification_report
predictions=model.predict(X_test)
print(classification_report(y_test, predictions, target_names=target_names))