### FINAL PROJECT - ML Support Vector Machine Linear Classifier.......

In [49]:
import pandas as pd
import numpy as np
import matplotlib as plt
import matplotlib.pyplot as pltt

In [50]:
df=pd.read_csv("./Data/datas2.csv", encoding ="utf8", engine="python")

In [51]:
df.rename(columns={'iid':'Wave_ID',
                   'id': 'Subject_Number',
                   'gender': 'Gender',
                  'attr_o':'Rating_Partner',
                  'sinc_o': "Sincere", 
                    'intel_o': "Intelligence", 
                   'fun_o':"Fun_Loving", 
                   'amb_o': "Ambitious",
                   'shar_o': "Sharing",
                   'like_o': "Likeability", 
                   'age': "Age", 
                   'race': "Race"}, inplace=True)

In [52]:
df.tail()

,Gender,Rating_Partner,Sincere,Intelligence,Fun_Loving,Ambitious,Sharing,Likeability,Age,Race
6931,1,10.0,5.0,3.0,2.0,6.0,5.0,6.0,25,2
6932,1,6.0,3.0,7.0,3.0,7.0,2.0,2.0,25,2
6933,1,2.0,1.0,2.0,2.0,2.0,1.0,2.0,25,2
6934,1,5.0,7.0,5.0,5.0,3.0,6.0,6.0,25,2
6935,1,8.0,8.0,7.0,7.0,7.0,7.0,8.0,25,2

In [53]:
df.describe()

,Gender,Rating_Partner,Sincere,Intelligence,Fun_Loving,Ambitious,Sharing,Likeability,Age,Race
count,6936.000000,6936.00000,6936.000000,6936.000000,6936.000000,6936.000000,6936.000000,6936.000000,6936.000000,6936.000000
mean,0.492359,6.18417,7.164072,7.362457,6.393310,6.758867,5.458261,6.125461,26.315311,2.769608
std,0.499978,1.94981,1.744919,1.560290,1.959211,1.798500,2.148142,1.851470,3.564817,1.241777
min,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,18.000000,1.000000
25%,0.000000,5.00000,6.000000,6.000000,5.000000,6.000000,4.000000,5.000000,24.000000,2.000000
50%,0.000000,6.00000,7.000000,7.000000,7.000000,7.000000,6.000000,6.000000,26.000000,2.000000
75%,1.000000,8.00000,8.000000,8.000000,8.000000,8.000000,7.000000,7.000000,28.000000,4.000000
max,1.000000,10.00000,10.000000,10.000000,11.000000,10.000000,10.000000,10.000000,55.000000,6.000000

In [54]:
#df.dropna(axis=0)

In [55]:
#df.describe()

In [56]:
#df1=df.groupby('Age')[['Place_Of_Origin']].count()

In [57]:
#ax = df1.plot.bar(rot=0)

In [58]:
#df.groupby('Age')[['Gender']].count()

In [59]:
df.isnull().any(axis=0)

Gender            False
Rating_Partner    False
Sincere           False
Intelligence      False
Fun_Loving        False
Ambitious         False
Sharing           False
Likeability       False
Age               False
Race              False
dtype: bool

In [60]:
#target = df["Rating_Partner"]
#target_names =['class 0', 'class 1', 'class 2','class 3', 'class 4','class 5','class 6','class 7','class 8','class 9']

In [61]:
data = df.drop("Rating_Partner", axis=1)
feature_names=data.columns
#data.head()

In [62]:
target = df["Rating_Partner"]
target_names =['Gender', 'Rating_Part', 'Sincere','Intelligence', 'Fun_Loving','Ambitious','Sharing','Likeability','Age','Race']

In [63]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data,target,random_state=42)

In [64]:
#int(y_train)
y_train=y_train.astype('int32')

In [65]:
# Support Vector Machine Linear Classifier
from sklearn.svm import SVC
model = SVC(kernel='linear')
model.fit(X_train, y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='linear', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False)

In [66]:
SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
   decision_function_shape='ovr',degree=3,gamma='auto',kernel='linear',
   max_iter=-1, probability=False, random_state=None, shrinking=True,
   tol=0.001, verbose=False)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto', kernel='linear',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [67]:
#model accuracy
print('Test Acc: %.3f' %model.score(X_test,y_test))

Test Acc: 0.329

In [68]:
#Classification Report
from sklearn.metrics import classification_report
predictions=model.predict(X_test)
print(classification_report(y_test, predictions, target_names=target_names))

              precision    recall  f1-score   support

      Gender       0.38      0.44      0.41        25
 Rating_Part       0.00      0.00      0.00        54
     Sincere       0.00      0.00      0.00        81
Intelligence       0.15      0.02      0.04       141
  Fun_Loving       0.25      0.40      0.31       273
   Ambitious       0.39      0.45      0.42       380
     Sharing       0.32      0.37      0.34       332
 Likeability       0.31      0.44      0.36       255
         Age       0.00      0.00      0.00       120
        Race       0.60      0.58      0.59        73

    accuracy                           0.33      1734
   macro avg       0.24      0.27      0.25      1734
weighted avg       0.27      0.33      0.29      1734

/anaconda3/lib/python3.7/site-packages/sklearn/metrics/classification.py:1437: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)