### FINAL PROJECT - ML Support Vector Machine Linear Classifier.......

In [51]:
import pandas as pd
import numpy as np
import matplotlib as plt
import numpy as np

In [52]:
# Loading rating data
df_female=pd.read_csv("./Data/interests_f.csv", encoding ="utf8", engine="python")
df_female = df_female.drop(df_female.columns[0], axis = 1)
df_female = df_female.set_index('iid')
df_female = df_female.groupby(['gender']).get_group(0)
female_table = df_female.drop(['gender','age','from','career'],axis=1)
female_table.head()

,sports,tvsports,exercise,dining,museums,art,hiking,gaming,clubbing,reading,tv,theater,movies,concerts,music,shopping,yoga
iid,,,,,,,,,,,,,,,,,
1,9.0,2.0,8.0,9.0,1.0,1.0,5.0,1.0,5.0,6.0,9.0,1.0,10.0,10.0,9.0,8.0,1.0
2,3.0,2.0,7.0,10.0,8.0,6.0,3.0,5.0,8.0,10.0,1.0,9.0,8.0,7.0,8.0,3.0,1.0
3,3.0,8.0,7.0,8.0,5.0,5.0,8.0,4.0,5.0,7.0,8.0,7.0,7.0,7.0,5.0,8.0,7.0
4,1.0,1.0,6.0,7.0,6.0,7.0,7.0,5.0,7.0,7.0,7.0,9.0,7.0,8.0,7.0,1.0,8.0
5,7.0,4.0,7.0,7.0,6.0,8.0,6.0,6.0,8.0,6.0,8.0,6.0,6.0,3.0,7.0,8.0,3.0

In [53]:
#Load male interests data
df_interests = pd.read_csv("./interests.csv", encoding ="utf8", engine="python")
df_interests.head()

,Unnamed: 0,iid,gender,age,from,career,sports,tvsports,exercise,dining,...,gaming,clubbing,reading,tv,theater,movies,concerts,music,shopping,yoga
0,0,1,0,21.0,Chicago,lawyer,9.0,2.0,8.0,9.0,...,1.0,5.0,6.0,9.0,1.0,10.0,10.0,9.0,8.0,1.0
1,10,2,0,24.0,Alabama,law,3.0,2.0,7.0,10.0,...,5.0,8.0,10.0,1.0,9.0,8.0,7.0,8.0,3.0,1.0
2,20,3,0,25.0,Connecticut,Economist,3.0,8.0,7.0,8.0,...,4.0,5.0,7.0,8.0,7.0,7.0,7.0,5.0,8.0,7.0
3,30,4,0,23.0,Texas,lawyer/policy work,1.0,1.0,6.0,7.0,...,5.0,7.0,7.0,7.0,9.0,7.0,8.0,7.0,1.0,8.0
4,40,5,0,21.0,Bowdoin College,lawyer,7.0,4.0,7.0,7.0,...,6.0,8.0,6.0,8.0,6.0,6.0,3.0,7.0,8.0,3.0

### Tables

In [5]:
df_male=df_interests.groupby(['gender']).get_group(1)
df_male = df_male.set_index('iid')
df_male=df_male.drop(df_male.columns[0],axis=1)

male_table = df_male.drop(['gender','age','from','career'],axis=1)
male_table.head()

,sports,tvsports,exercise,dining,museums,art,hiking,gaming,clubbing,reading,tv,theater,movies,concerts,music,shopping,yoga
iid,,,,,,,,,,,,,,,,,
11,8.0,7.0,2.0,6.0,7.0,5.0,5.0,5.0,4.0,9.0,2.0,4.0,8.0,7.0,8.0,5.0,1.0
12,9.0,7.0,9.0,8.0,7.0,6.0,3.0,3.0,5.0,6.0,6.0,4.0,7.0,7.0,9.0,5.0,5.0
13,7.0,8.0,2.0,9.0,5.0,6.0,4.0,7.0,7.0,6.0,8.0,10.0,8.0,9.0,9.0,8.0,1.0
14,10.0,6.0,8.0,8.0,3.0,3.0,10.0,8.0,8.0,6.0,7.0,3.0,10.0,6.0,8.0,6.0,1.0
15,9.0,7.0,9.0,7.0,4.0,3.0,6.0,7.0,9.0,8.0,6.0,9.0,9.0,6.0,7.0,2.0,1.0

In [6]:
female_table=female_table.fillna(0)
female_table.head()

,sports,tvsports,exercise,dining,museums,art,hiking,gaming,clubbing,reading,tv,theater,movies,concerts,music,shopping,yoga
iid,,,,,,,,,,,,,,,,,
1,9.0,2.0,8.0,9.0,1.0,1.0,5.0,1.0,5.0,6.0,9.0,1.0,10.0,10.0,9.0,8.0,1.0
2,3.0,2.0,7.0,10.0,8.0,6.0,3.0,5.0,8.0,10.0,1.0,9.0,8.0,7.0,8.0,3.0,1.0
3,3.0,8.0,7.0,8.0,5.0,5.0,8.0,4.0,5.0,7.0,8.0,7.0,7.0,7.0,5.0,8.0,7.0
4,1.0,1.0,6.0,7.0,6.0,7.0,7.0,5.0,7.0,7.0,7.0,9.0,7.0,8.0,7.0,1.0,8.0
5,7.0,4.0,7.0,7.0,6.0,8.0,6.0,6.0,8.0,6.0,8.0,6.0,6.0,3.0,7.0,8.0,3.0

In [7]:
male_table = male_table.fillna(0)
male_table.head()

,sports,tvsports,exercise,dining,museums,art,hiking,gaming,clubbing,reading,tv,theater,movies,concerts,music,shopping,yoga
iid,,,,,,,,,,,,,,,,,
11,8.0,7.0,2.0,6.0,7.0,5.0,5.0,5.0,4.0,9.0,2.0,4.0,8.0,7.0,8.0,5.0,1.0
12,9.0,7.0,9.0,8.0,7.0,6.0,3.0,3.0,5.0,6.0,6.0,4.0,7.0,7.0,9.0,5.0,5.0
13,7.0,8.0,2.0,9.0,5.0,6.0,4.0,7.0,7.0,6.0,8.0,10.0,8.0,9.0,9.0,8.0,1.0
14,10.0,6.0,8.0,8.0,3.0,3.0,10.0,8.0,8.0,6.0,7.0,3.0,10.0,6.0,8.0,6.0,1.0
15,9.0,7.0,9.0,7.0,4.0,3.0,6.0,7.0,9.0,8.0,6.0,9.0,9.0,6.0,7.0,2.0,1.0

### Get the Pearson Correlations

In [8]:
X=female_table.values.T
X.shape

(17, 274)

In [9]:
import sklearn
from sklearn.decomposition import TruncatedSVD

SVD = TruncatedSVD(n_components=12,random_state=17)
matrix = SVD.fit_transform(X)
matrix.shape

(17, 12)

In [10]:
import warnings
warnings.filterwarnings("ignore",category=RuntimeWarning)
fem_corr = np.corrcoef(matrix)
fem_corr.shape

(17, 17)

In [11]:
fem_corr

array([[1.        , 0.86661092, 0.93355489, 0.89248339, 0.88918559,
        0.87824274, 0.9163756 , 0.71691907, 0.80832146, 0.90275572,
        0.8271436 , 0.84598276, 0.89277671, 0.87889042, 0.89562568,
        0.82505931, 0.77084985],
       [0.86661092, 1.        , 0.82646565, 0.81063934, 0.81548986,
        0.80006063, 0.81481343, 0.71626648, 0.75988689, 0.81537176,
        0.82081104, 0.82648391, 0.83196269, 0.81712087, 0.8167519 ,
        0.79022309, 0.70069417],
       [0.93355489, 0.82646565, 1.        , 0.92690205, 0.89423171,
        0.88584151, 0.88066449, 0.74149692, 0.84457675, 0.9082857 ,
        0.85334105, 0.90122398, 0.91661394, 0.88559063, 0.90751829,
        0.86783658, 0.81302028],
       [0.89248339, 0.81063934, 0.92690205, 1.        , 0.98101246,
        0.97442235, 0.92038244, 0.78517205, 0.93329162, 0.97653363,
        0.91339168, 0.98019194, 0.98656564, 0.96571084, 0.98059166,
        0.96672277, 0.87573977],
       [0.88918559, 0.81548986, 0.89423171, 0.98101246, 1.        ,
        0.99858087, 0.91264204, 0.76233111, 0.90405499, 0.96732724,
        0.88323076, 0.97771586, 0.9733805 , 0.96097553, 0.96811228,
        0.92862799, 0.88521368],
       [0.87824274, 0.80006063, 0.88584151, 0.97442235, 0.99858087,
        1.        , 0.90595219, 0.74951714, 0.89904027, 0.955585  ,
        0.87566039, 0.97554478, 0.96927591, 0.95909672, 0.96459426,
        0.91739457, 0.88434471],
       [0.9163756 , 0.81481343, 0.88066449, 0.92038244, 0.91264204,
        0.90595219, 1.        , 0.82582952, 0.85880091, 0.90099109,
        0.81837005, 0.89362824, 0.91219352, 0.93297763, 0.92762116,
        0.85281544, 0.87090511],
       [0.71691907, 0.71626648, 0.74149692, 0.78517205, 0.76233111,
        0.74951714, 0.82582952, 1.        , 0.75358841, 0.78263688,
        0.76766401, 0.7819612 , 0.77875639, 0.78294488, 0.7781273 ,
        0.72788115, 0.64383545],
       [0.80832146, 0.75988689, 0.84457675, 0.93329162, 0.90405499,
        0.89904027, 0.85880091, 0.75358841, 1.        , 0.90325253,
        0.8466774 , 0.9011086 , 0.91827089, 0.88999257, 0.90798958,
        0.87145481, 0.80330316],
       [0.90275572, 0.81537176, 0.9082857 , 0.97653363, 0.96732724,
        0.955585  , 0.90099109, 0.78263688, 0.90325253, 1.        ,
        0.8857126 , 0.95866572, 0.97268286, 0.9537607 , 0.96878387,
        0.92330063, 0.87435714],
       [0.8271436 , 0.82081104, 0.85334105, 0.91339168, 0.88323076,
        0.87566039, 0.81837005, 0.76766401, 0.8466774 , 0.8857126 ,
        1.        , 0.90713296, 0.93556531, 0.88189181, 0.90583692,
        0.9235072 , 0.79697718],
       [0.84598276, 0.82648391, 0.90122398, 0.98019194, 0.97771586,
        0.97554478, 0.89362824, 0.7819612 , 0.9011086 , 0.95866572,
        0.90713296, 1.        , 0.98636012, 0.97696548, 0.9797264 ,
        0.94167873, 0.88864694],
       [0.89277671, 0.83196269, 0.91661394, 0.98656564, 0.9733805 ,
        0.96927591, 0.91219352, 0.77875639, 0.91827089, 0.97268286,
        0.93556531, 0.98636012, 1.        , 0.98560018, 0.99524756,
        0.94434548, 0.87888371],
       [0.87889042, 0.81712087, 0.88559063, 0.96571084, 0.96097553,
        0.95909672, 0.93297763, 0.78294488, 0.88999257, 0.9537607 ,
        0.88189181, 0.97696548, 0.98560018, 1.        , 0.99572305,
        0.90890227, 0.87281015],
       [0.89562568, 0.8167519 , 0.90751829, 0.98059166, 0.96811228,
        0.96459426, 0.92762116, 0.7781273 , 0.90798958, 0.96878387,
        0.90583692, 0.9797264 , 0.99524756, 0.99572305, 1.        ,
        0.92966682, 0.87234246],
       [0.82505931, 0.79022309, 0.86783658, 0.96672277, 0.92862799,
        0.91739457, 0.85281544, 0.72788115, 0.87145481, 0.92330063,
        0.9235072 , 0.94167873, 0.94434548, 0.90890227, 0.92966682,
        1.        , 0.81340918],
       [0.77084985, 0.70069417, 0.81302028, 0.87573977, 0.88521368,
        0.88434471, 0.87090511, 0.64383545, 0.80330316, 0.87435714,
        0.79697718, 0.88864694, 0.87888371, 0.87281015, 0.87234246,
        0.81340918, 1.        ]])

In [12]:
Y=male_table.values.T
Y.shape

(17, 277)

In [13]:
import sklearn
from sklearn.decomposition import TruncatedSVD

SVD = TruncatedSVD(n_components=12,random_state=17)
matrix_m = SVD.fit_transform(Y)
matrix_m.shape

(17, 12)

In [14]:
import warnings
warnings.filterwarnings("ignore",category=RuntimeWarning)
male_corr = np.corrcoef(matrix_m)
male_corr.shape

(17, 17)

In [15]:
male_corr

array([[1.        , 0.90271448, 0.93963319, 0.94983535, 0.90275554,
        0.88388068, 0.87670791, 0.81941669, 0.88148149, 0.89837116,
        0.82922622, 0.88501486, 0.92223365, 0.89316188, 0.92599756,
        0.83434206, 0.78820136],
       [0.90271448, 1.        , 0.83880542, 0.84061914, 0.82369743,
        0.80597188, 0.7501796 , 0.77749266, 0.81487568, 0.81161592,
        0.85070453, 0.78044499, 0.82693934, 0.82264141, 0.84309017,
        0.77314422, 0.68717339],
       [0.93963319, 0.83880542, 1.        , 0.91731228, 0.8917094 ,
        0.87332067, 0.86965268, 0.83617627, 0.86047154, 0.89418057,
        0.86333265, 0.88282687, 0.92008452, 0.87466199, 0.91683829,
        0.84746605, 0.80242395],
       [0.94983535, 0.84061914, 0.91731228, 1.        , 0.96556081,
        0.95045375, 0.90107804, 0.87721503, 0.9140589 , 0.95445654,
        0.90421243, 0.95261676, 0.98089728, 0.9479479 , 0.96798323,
        0.93556353, 0.80788042],
       [0.90275554, 0.82369743, 0.8917094 , 0.96556081, 1.        ,
        0.99752055, 0.90340613, 0.85991823, 0.88090117, 0.94618092,
        0.8903468 , 0.98531668, 0.97800081, 0.96286259, 0.96082702,
        0.8857138 , 0.8186118 ],
       [0.88388068, 0.80597188, 0.87332067, 0.95045375, 0.99752055,
        1.        , 0.89735875, 0.85276075, 0.87066264, 0.92531307,
        0.86863533, 0.98152236, 0.96356782, 0.95613787, 0.9465732 ,
        0.87416035, 0.82407111],
       [0.87670791, 0.7501796 , 0.86965268, 0.90107804, 0.90340613,
        0.89735875, 1.        , 0.77907714, 0.8222282 , 0.88429582,
        0.76175622, 0.86324342, 0.8799017 , 0.86185069, 0.87254989,
        0.78543828, 0.80058528],
       [0.81941669, 0.77749266, 0.83617627, 0.87721503, 0.85991823,
        0.85276075, 0.77907714, 1.        , 0.83248095, 0.86305976,
        0.8057587 , 0.81881467, 0.83536129, 0.82336634, 0.84016605,
        0.84455435, 0.73588428],
       [0.88148149, 0.81487568, 0.86047154, 0.9140589 , 0.88090117,
        0.87066264, 0.8222282 , 0.83248095, 1.        , 0.86622763,
        0.8019893 , 0.8860716 , 0.90845351, 0.87903005, 0.89941093,
        0.84202412, 0.73808381],
       [0.89837116, 0.81161592, 0.89418057, 0.95445654, 0.94618092,
        0.92531307, 0.88429582, 0.86305976, 0.86622763, 1.        ,
        0.9027917 , 0.93924495, 0.96928804, 0.92607769, 0.95301722,
        0.84633554, 0.79081463],
       [0.82922622, 0.85070453, 0.86333265, 0.90421243, 0.8903468 ,
        0.86863533, 0.76175622, 0.8057587 , 0.8019893 , 0.9027917 ,
        1.        , 0.88753632, 0.92438536, 0.85467742, 0.88425103,
        0.92032459, 0.73299456],
       [0.88501486, 0.78044499, 0.88282687, 0.95261676, 0.98531668,
        0.98152236, 0.86324342, 0.81881467, 0.8860716 , 0.93924495,
        0.88753632, 1.        , 0.98197972, 0.93580729, 0.94195875,
        0.86891118, 0.81106837],
       [0.92223365, 0.82693934, 0.92008452, 0.98089728, 0.97800081,
        0.96356782, 0.8799017 , 0.83536129, 0.90845351, 0.96928804,
        0.92438536, 0.98197972, 1.        , 0.96063524, 0.97868064,
        0.90639868, 0.80536486],
       [0.89316188, 0.82264141, 0.87466199, 0.9479479 , 0.96286259,
        0.95613787, 0.86185069, 0.82336634, 0.87903005, 0.92607769,
        0.85467742, 0.93580729, 0.96063524, 1.        , 0.99128435,
        0.88015913, 0.81243715],
       [0.92599756, 0.84309017, 0.91683829, 0.96798323, 0.96082702,
        0.9465732 , 0.87254989, 0.84016605, 0.89941093, 0.95301722,
        0.88425103, 0.94195875, 0.97868064, 0.99128435, 1.        ,
        0.89300732, 0.80856649],
       [0.83434206, 0.77314422, 0.84746605, 0.93556353, 0.8857138 ,
        0.87416035, 0.78543828, 0.84455435, 0.84202412, 0.84633554,
        0.92032459, 0.86891118, 0.90639868, 0.88015913, 0.89300732,
        1.        , 0.78583517],
       [0.78820136, 0.68717339, 0.80242395, 0.80788042, 0.8186118 ,
        0.82407111, 0.80058528, 0.73588428, 0.73808381, 0.79081463,
        0.73299456, 0.81106837, 0.80536486, 0.81243715, 0.80856649,
        0.78583517, 1.        ]])

In [56]:
female_table['sports','tvsports','exercise','dining','museums','art','hiking','gaming','clubbing','reading','tv','theater','movies','concerts','music','shopping','yoga'] = pd.to_numeric(female_table['sports','tvsports','exercise','dining','museums','art','hiking','gaming','clubbing','reading','tv','theater','movies','concerts','music','shopping','yoga'])

KeyError: ('sports', 'tvsports', 'exercise', 'dining', 'museums', 'art', 'hiking', 'gaming', 'clubbing', 'reading', 'tv', 'theater', 'movies', 'concerts', 'music', 'shopping', 'yoga')

In [50]:
female_pivot = pd.pivot_table(female_table, index = ['sports','tvsports','exercise','dining','museums','art','hiking','gaming','clubbing','reading','tv','theater','movies','concerts','music','shopping','yoga'], columns = 'iid')

DataError: No numeric types to aggregate

### Find matches

In [38]:
test_subject = 11
corr_subject = fem_corr[test_subject]
match = list([(corr_subject<1) & (corr_subject>.9)])
# corr_subject
match

AttributeError: 'numpy.ndarray' object has no attribute 'index'

In [17]:
fem_pearsons=pd.DataFrame(fem_corr)

In [22]:
male_pearsons=pd.DataFrame(male_corr)

In [23]:
male_pearsons

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,1.000000,0.902714,0.939633,0.949835,0.902756,0.883881,0.876708,0.819417,0.881481,0.898371,0.829226,0.885015,0.922234,0.893162,0.925998,0.834342,0.788201
1,0.902714,1.000000,0.838805,0.840619,0.823697,0.805972,0.750180,0.777493,0.814876,0.811616,0.850705,0.780445,0.826939,0.822641,0.843090,0.773144,0.687173
2,0.939633,0.838805,1.000000,0.917312,0.891709,0.873321,0.869653,0.836176,0.860472,0.894181,0.863333,0.882827,0.920085,0.874662,0.916838,0.847466,0.802424
3,0.949835,0.840619,0.917312,1.000000,0.965561,0.950454,0.901078,0.877215,0.914059,0.954457,0.904212,0.952617,0.980897,0.947948,0.967983,0.935564,0.807880
4,0.902756,0.823697,0.891709,0.965561,1.000000,0.997521,0.903406,0.859918,0.880901,0.946181,0.890347,0.985317,0.978001,0.962863,0.960827,0.885714,0.818612
5,0.883881,0.805972,0.873321,0.950454,0.997521,1.000000,0.897359,0.852761,0.870663,0.925313,0.868635,0.981522,0.963568,0.956138,0.946573,0.874160,0.824071
6,0.876708,0.750180,0.869653,0.901078,0.903406,0.897359,1.000000,0.779077,0.822228,0.884296,0.761756,0.863243,0.879902,0.861851,0.872550,0.785438,0.800585
7,0.819417,0.777493,0.836176,0.877215,0.859918,0.852761,0.779077,1.000000,0.832481,0.863060,0.805759,0.818815,0.835361,0.823366,0.840166,0.844554,0.735884
8,0.881481,0.814876,0.860472,0.914059,0.880901,0.870663,0.822228,0.832481,1.000000,0.866228,0.801989,0.886072,0.908454,0.879030,0.899411,0.842024,0.738084
9,0.898371,0.811616,0.894181,0.954457,0.946181,0.925313,0.884296,0.863060,0.866228,1.000000,0.902792,0.939245,0.969288,0.926078,0.953017,0.846336,0.790815
10,0.829226,0.850705,0.863333,0.904212,0.890347,0.868635,0.761756,0.805759,0.801989,0.902792,1.000000,0.887536,0.924385,0.854677,0.884251,0.920325,0.732995
11,0.885015,0.780445,0.882827,0.952617,0.985317,0.981522,0.863243,0.818815,0.886072,0.939245,0.887536,1.000000,0.981980,0.935807,0.941959,0.868911,0.811068
12,0.922234,0.826939,0.920085,0.980897,0.978001,0.963568,0.879902,0.835361,0.908454,0.969288,0.924385,0.981980,1.000000,0.960635,0.978681,0.906399,0.805365
13,0.893162,0.822641,0.874662,0.947948,0.962863,0.956138,0.861851,0.823366,0.879030,0.926078,0.854677,0.935807,0.960635,1.000000,0.991284,0.880159,0.812437
14,0.925998,0.843090,0.916838,0.967983,0.960827,0.946573,0.872550,0.840166,0.899411,0.953017,0.884251,0.941959,0.978681,0.991284,1.000000,0.893007,0.808566
15,0.834342,0.773144,0.847466,0.935564,0.885714,0.874160,0.785438,0.844554,0.842024,0.846336,0.920325,0.868911,0.906399,0.880159,0.893007,1.000000,0.785835
16,0.788201,0.687173,0.802424,0.807880,0.818612,0.824071,0.800585,0.735884,0.738084,0.790815,0.732995,0.811068,0.805365,0.812437,0.808566,0.785835,1.000000

In [24]:
male_pearsons.to_csv(r'C:\Users\Thea\Desktop\Homework\Final-Project\Data_and_Program\Data.csv')

In [ ]:
#df.groupby('Age')[['Gender']].count()

In [ ]:
df.isnull().any(axis=0)

In [ ]:
#target = df["Rating_Partner"]
#target_names =['class 0', 'class 1', 'class 2','class 3', 'class 4','class 5','class 6','class 7','class 8','class 9']

In [ ]:
# data = df.drop("Rating_Partner", axis=1)
# feature_names=data.columns
# #data.head()

In [ ]:
# target = df["Rating_Partner"]
# target_names =['Gender', 'Rating_Part', 'Sincere','Intelligence', 'Fun_Loving','Ambitious','Sharing','Likeability','Age','Race']

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data,target,random_state=42)

In [ ]:
#int(y_train)
y_train=y_train.astype('int32')

In [ ]:
# Support Vector Machine Linear Classifier
from sklearn.svm import SVC
model = SVC(kernel='linear')
model.fit(X_train, y_train)

In [ ]:
SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
   decision_function_shape='ovr',degree=3,gamma='auto',kernel='linear',
   max_iter=-1, probability=False, random_state=None, shrinking=True,
   tol=0.001, verbose=False)

In [ ]:
#model accuracy
print('Test Acc: %.3f' %model.score(X_test,y_test))

In [ ]:
#Classification Report
from sklearn.metrics import classification_report
predictions=model.predict(X_test)
print(classification_report(y_test, predictions, target_names=target_names))