### FINAL PROJECT - ML Support Vector Machine Linear Classifier.......

In [16]:
import pandas as pd
import numpy as np
import matplotlib as plt
import numpy as np

In [2]:
# Loading rating data
df_female=pd.read_csv("./Data/interests_f.csv", encoding ="utf8", engine="python")
df_female = df_female.drop(df_female.columns[0], axis = 1)
df_female = df_female.set_index('iid')
df_female = df_female.groupby(['gender']).get_group(0)
female_table = df_female.drop(['gender','age','from','career'],axis=1)
female_table.head()

,sports,tvsports,exercise,dining,museums,art,hiking,gaming,clubbing,reading,tv,theater,movies,concerts,music,shopping,yoga
iid,,,,,,,,,,,,,,,,,
1,9.0,2.0,8.0,9.0,1.0,1.0,5.0,1.0,5.0,6.0,9.0,1.0,10.0,10.0,9.0,8.0,1.0
2,3.0,2.0,7.0,10.0,8.0,6.0,3.0,5.0,8.0,10.0,1.0,9.0,8.0,7.0,8.0,3.0,1.0
3,3.0,8.0,7.0,8.0,5.0,5.0,8.0,4.0,5.0,7.0,8.0,7.0,7.0,7.0,5.0,8.0,7.0
4,1.0,1.0,6.0,7.0,6.0,7.0,7.0,5.0,7.0,7.0,7.0,9.0,7.0,8.0,7.0,1.0,8.0
5,7.0,4.0,7.0,7.0,6.0,8.0,6.0,6.0,8.0,6.0,8.0,6.0,6.0,3.0,7.0,8.0,3.0

In [3]:
#Load male interests data
df_interests = pd.read_csv("./interests.csv", encoding ="utf8", engine="python")
df_interests.head()

,Unnamed: 0,iid,gender,age,from,career,sports,tvsports,exercise,dining,...,gaming,clubbing,reading,tv,theater,movies,concerts,music,shopping,yoga
0,0,1,0,21.0,Chicago,lawyer,9.0,2.0,8.0,9.0,...,1.0,5.0,6.0,9.0,1.0,10.0,10.0,9.0,8.0,1.0
1,10,2,0,24.0,Alabama,law,3.0,2.0,7.0,10.0,...,5.0,8.0,10.0,1.0,9.0,8.0,7.0,8.0,3.0,1.0
2,20,3,0,25.0,Connecticut,Economist,3.0,8.0,7.0,8.0,...,4.0,5.0,7.0,8.0,7.0,7.0,7.0,5.0,8.0,7.0
3,30,4,0,23.0,Texas,lawyer/policy work,1.0,1.0,6.0,7.0,...,5.0,7.0,7.0,7.0,9.0,7.0,8.0,7.0,1.0,8.0
4,40,5,0,21.0,Bowdoin College,lawyer,7.0,4.0,7.0,7.0,...,6.0,8.0,6.0,8.0,6.0,6.0,3.0,7.0,8.0,3.0

### Tables

In [4]:
df_male=df_interests.groupby(['gender']).get_group(1)
df_male = df_male.set_index('iid')
df_male=df_male.drop(df_male.columns[0],axis=1)

male_table = df_male.drop(['gender','age','from','career'],axis=1)
male_table.head()

,sports,tvsports,exercise,dining,museums,art,hiking,gaming,clubbing,reading,tv,theater,movies,concerts,music,shopping,yoga
iid,,,,,,,,,,,,,,,,,
11,8.0,7.0,2.0,6.0,7.0,5.0,5.0,5.0,4.0,9.0,2.0,4.0,8.0,7.0,8.0,5.0,1.0
12,9.0,7.0,9.0,8.0,7.0,6.0,3.0,3.0,5.0,6.0,6.0,4.0,7.0,7.0,9.0,5.0,5.0
13,7.0,8.0,2.0,9.0,5.0,6.0,4.0,7.0,7.0,6.0,8.0,10.0,8.0,9.0,9.0,8.0,1.0
14,10.0,6.0,8.0,8.0,3.0,3.0,10.0,8.0,8.0,6.0,7.0,3.0,10.0,6.0,8.0,6.0,1.0
15,9.0,7.0,9.0,7.0,4.0,3.0,6.0,7.0,9.0,8.0,6.0,9.0,9.0,6.0,7.0,2.0,1.0

In [5]:
female_table=female_table.fillna(0)
female_table.head()

,sports,tvsports,exercise,dining,museums,art,hiking,gaming,clubbing,reading,tv,theater,movies,concerts,music,shopping,yoga
iid,,,,,,,,,,,,,,,,,
1,9.0,2.0,8.0,9.0,1.0,1.0,5.0,1.0,5.0,6.0,9.0,1.0,10.0,10.0,9.0,8.0,1.0
2,3.0,2.0,7.0,10.0,8.0,6.0,3.0,5.0,8.0,10.0,1.0,9.0,8.0,7.0,8.0,3.0,1.0
3,3.0,8.0,7.0,8.0,5.0,5.0,8.0,4.0,5.0,7.0,8.0,7.0,7.0,7.0,5.0,8.0,7.0
4,1.0,1.0,6.0,7.0,6.0,7.0,7.0,5.0,7.0,7.0,7.0,9.0,7.0,8.0,7.0,1.0,8.0
5,7.0,4.0,7.0,7.0,6.0,8.0,6.0,6.0,8.0,6.0,8.0,6.0,6.0,3.0,7.0,8.0,3.0

In [6]:
male_table = male_table.fillna(0)
male_table.head()

,sports,tvsports,exercise,dining,museums,art,hiking,gaming,clubbing,reading,tv,theater,movies,concerts,music,shopping,yoga
iid,,,,,,,,,,,,,,,,,
11,8.0,7.0,2.0,6.0,7.0,5.0,5.0,5.0,4.0,9.0,2.0,4.0,8.0,7.0,8.0,5.0,1.0
12,9.0,7.0,9.0,8.0,7.0,6.0,3.0,3.0,5.0,6.0,6.0,4.0,7.0,7.0,9.0,5.0,5.0
13,7.0,8.0,2.0,9.0,5.0,6.0,4.0,7.0,7.0,6.0,8.0,10.0,8.0,9.0,9.0,8.0,1.0
14,10.0,6.0,8.0,8.0,3.0,3.0,10.0,8.0,8.0,6.0,7.0,3.0,10.0,6.0,8.0,6.0,1.0
15,9.0,7.0,9.0,7.0,4.0,3.0,6.0,7.0,9.0,8.0,6.0,9.0,9.0,6.0,7.0,2.0,1.0

### Get the Pearson Correlations

In [7]:
X=female_table.values.T
X.shape

(17, 274)

In [8]:
import sklearn
from sklearn.decomposition import TruncatedSVD

SVD = TruncatedSVD(n_components=12,random_state=17)
matrix = SVD.fit_transform(X)
matrix.shape

(17, 12)

In [9]:
import warnings
warnings.filterwarnings("ignore",category=RuntimeWarning)
fem_corr = np.corrcoef(matrix)
fem_corr.shape

(17, 17)

In [10]:
Y=male_table.values.T
Y.shape

(17, 277)

In [11]:
import sklearn
from sklearn.decomposition import TruncatedSVD

SVD = TruncatedSVD(n_components=12,random_state=17)
matrix_m = SVD.fit_transform(Y)
matrix_m.shape

(17, 12)

In [12]:
import warnings
warnings.filterwarnings("ignore",category=RuntimeWarning)
male_corr = np.corrcoef(matrix_m)
male_corr.shape

(17, 17)

In [17]:
female_table['sports'] = female_table['sports'].astype('int32')

In [18]:
female_table['tvsports'] = female_table['tvsports'].astype('int32')

In [19]:
female_table['exercise'] = female_table['exercise'].astype('int32')

In [20]:
female_table['dining'] = female_table['dining'].astype('int32')

In [ ]:
female_table['museums'] = female_table['museums'].astype('int32')

In [21]:
female_table['art'] = female_table['art'].astype('int32')

In [22]:
female_table['hiking'] = female_table['hiking'].astype('int32')

In [23]:
female_table['gaming'] = female_table['gaming'].astype('int32')

In [24]:
female_table['clubbing'] = female_table['clubbing'].astype('int32')

In [25]:
female_table['reading'] = female_table['reading'].astype('int32')

In [26]:
female_table['tv'] = female_table['tv'].astype('int32')

In [27]:
female_table['theater'] = female_table['theater'].astype('int32')

In [28]:
female_table['movies'] = female_table['movies'].astype('int32')

In [29]:
female_table['concerts'] = female_table['concerts'].astype('int32')

In [30]:
female_table['music'] = female_table['music'].astype('int32')

In [31]:
female_table['shopping'] = female_table['shopping'].astype('int32')

In [32]:
female_table['yoga'] = female_table['yoga'].astype('int32')

In [ ]:
female_lookup = female_table.values

In [34]:
female_pivot = pd.pivot_table(female_table, index = ['sports','tvsports','exercise','dining','museums','art','hiking','gaming','clubbing','reading','tv','theater','movies','concerts','music','shopping','yoga'], columns = 'iid',aggfunc=np.sum)

### Find matches

In [36]:
test_subject = 11
corr_subject = fem_corr[test_subject]
match = list(female_table.index[(corr_subject<1) & (corr_subject>.9)])
# corr_subject
match

IndexError: boolean index did not match indexed array along dimension 0; dimension is 274 but corresponding boolean dimension is 17

In [ ]:
fem_pearsons=pd.DataFrame(fem_corr)

In [ ]:
male_pearsons=pd.DataFrame(male_corr)

In [ ]:
male_pearsons

In [ ]:
male_pearsons.to_csv(r'C:\Users\Thea\Desktop\Homework\Final-Project\Data_and_Program\Data.csv')

In [ ]:
#df.groupby('Age')[['Gender']].count()

In [ ]:
df.isnull().any(axis=0)

In [ ]:
#target = df["Rating_Partner"]
#target_names =['class 0', 'class 1', 'class 2','class 3', 'class 4','class 5','class 6','class 7','class 8','class 9']

In [ ]:
# data = df.drop("Rating_Partner", axis=1)
# feature_names=data.columns
# #data.head()

In [ ]:
# target = df["Rating_Partner"]
# target_names =['Gender', 'Rating_Part', 'Sincere','Intelligence', 'Fun_Loving','Ambitious','Sharing','Likeability','Age','Race']

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data,target,random_state=42)

In [ ]:
#int(y_train)
y_train=y_train.astype('int32')

In [ ]:
# Support Vector Machine Linear Classifier
from sklearn.svm import SVC
model = SVC(kernel='linear')
model.fit(X_train, y_train)

In [ ]:
SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
   decision_function_shape='ovr',degree=3,gamma='auto',kernel='linear',
   max_iter=-1, probability=False, random_state=None, shrinking=True,
   tol=0.001, verbose=False)

In [ ]:
#model accuracy
print('Test Acc: %.3f' %model.score(X_test,y_test))

In [ ]:
#Classification Report
from sklearn.metrics import classification_report
predictions=model.predict(X_test)
print(classification_report(y_test, predictions, target_names=target_names))